<% include partials/header %>
<div class="ui main text container">
	<div class="ui huge header">Oslo Attractions</div>
		<div class="ui top attached segment">
			<div class="ui divided items">
			<% places.forEach(function(place){ %>
	 			<div class="item">
	    				<div class="image">
	      					<img src="<%= place.image %>">
	    				</div>
	    				<div class="content">
	      					<a class="header" href="/places/<%= place._id %>"><%= place.title %></a>
	      				<div class="address">
                                       		<span><%= place.address %></span>
                                	</div>
	      				<div class="description">
	        				<p><%= place.body.substring(0,100); %></p>
	      				</div>
	      				<div class="extra">
	        				<a href="/places/<%=place._id %>" class="ui blue button">Read More</a>
	      				</div>
	    			</div>
	  		</div>
			<% }); %>
		</div>
	</div>
    
</div>
<% include partials/footer %>

 








