<% include ./partials/header %>
<div class="ui main text container">
	<div class="ui huge header">Olso Attractions App</div>
	<div class="ui top attached segment">
		<div class="ui devided items">
			<% places.forEach(function(place){ %>
        		<div class="item">
				<div class="image">
					<img src="<%= place.image %>" >
				</div>
					
				<h2><a href="/places/<%= place._id %>" class="header"><%= place.title %></a></h2>
				
				<div class="address">
					<span><%= place.address %></span>
				</div>
				<div class="description">
					<p><%= place.body.substring(0,100) %>...</p>
				</div>
				<div id="readmoreBtn" class="extra">
					<a class="ui blue button" href="/places/<%= place._id %>" class="header">Read More</a>						       </div>
                		
        		</div>
		</div>
	</div>
</div>
<%});%>
<% include ./partials/footer %>









